@import "tailwindcss";

:root {
    --background: #eeeeee;
    --text: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-text: var(--text);
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}
